.sqr1{
	background: black;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 3px;
	left:10px;
}
.sqr2{
	background: grey;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 75px;
	left:81px;
}
.sqr3{
	background: aqua;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 153px;
	left:151px;
}
.square{
	width: 400px;
	height: 400px;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.sq1{
	background: black;
	width: 100px;
	height: 100px;
	display: inline-block;
}
.sq2{
	background: grey;
	width: 100px;
	height: 100px;
	display: inline-block;
}
.sq3{
	background: aqua;
	width: 100px;
	height: 100px;
	display: inline-block;
}

